In [1]:
import pandas as pd# import the library pandas
import numpy as np
from collections import Counter

In [108]:
df=pd.read_csv("C:/Users/singh/Desktop/Imarticus Projects/telecom_project.csv") # read a csv file in python

In [109]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [110]:
df.info() # to see basic data types and missing values for all columns
df.describe()
# note that describe is not giving stats of TotalCharges. That means some thg is fishy

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
customerID          7043 non-null object
gender              7043 non-null object
SeniorCitizen       7043 non-null int64
Partner             7043 non-null object
Dependents          7043 non-null object
tenure              7043 non-null int64
PhoneService        7043 non-null object
MultipleLines       7043 non-null object
InternetService     7043 non-null object
OnlineSecurity      7043 non-null object
OnlineBackup        7043 non-null object
DeviceProtection    7043 non-null object
TechSupport         7043 non-null object
StreamingTV         7043 non-null object
StreamingMovies     7043 non-null object
Contract            7043 non-null object
PaperlessBilling    7043 non-null object
PaymentMethod       7043 non-null object
MonthlyCharges      7043 non-null float64
TotalCharges        7043 non-null object
Churn               7043 non-null object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

       SeniorCitizen       tenure  MonthlyCharges
count    7043.000000  7043.000000     7043.000000
mean        0.162147    32.371149       64.761692
std         0.368612    24.559481       30.090047
min         0.000000     0.000000       18.250000
25%         0.000000     9.000000       35.500000
50%         0.000000    29.000000       70.350000
75%         0.000000    55.000000       89.850000
max         1.000000    72.000000      118.750000

In [111]:
df['gender'].value_counts() # to get the counts of the categories just like table in R
#or
Counter(df['gender'])

Counter({'Female': 3488, 'Male': 3555})

In [112]:
sum((df['gender']).isnull())# to find the total missing values in a column

0

In [113]:
# find the # of missing values in the column Totl charges
sum(df['TotalCharges'].isnull())

0

In [114]:
df.columns # to get a lsit of all column names

Index([u'customerID', u'gender', u'SeniorCitizen', u'Partner', u'Dependents',
       u'tenure', u'PhoneService', u'MultipleLines', u'InternetService',
       u'OnlineSecurity', u'OnlineBackup', u'DeviceProtection', u'TechSupport',
       u'StreamingTV', u'StreamingMovies', u'Contract', u'PaperlessBilling',
       u'PaymentMethod', u'MonthlyCharges', u'TotalCharges', u'Churn'],
      dtype='object')

In [115]:
# count of churn vs No churn
df["Churn"].value_counts()
from collections import Counter
#or
Counter(df["Churn"])

Counter({'No': 5174, 'Yes': 1869})

In [116]:
# get the mean of TotalCharges
#df['TotalCharges'].

In [117]:
Counter(df['gender'])

Counter({'Female': 3488, 'Male': 3555})

In [118]:
df[(df['gender'].isnull())]

Empty DataFrame
Columns: [customerID, gender, SeniorCitizen, Partner, Dependents, tenure, PhoneService, MultipleLines, InternetService, OnlineSecurity, OnlineBackup, DeviceProtection, TechSupport, StreamingTV, StreamingMovies, Contract, PaperlessBilling, PaymentMethod, MonthlyCharges, TotalCharges, Churn]
Index: []

[0 rows x 21 columns]

In [119]:
# fill the missing gender as male
df['gender'].fillna(value="Male",inplace=True)

In [120]:
#fill the missing values in TotalCharges with their mean
#there are some blanks (not missing value) in total charges. 
#Lets replace them with the mean
#
type(df['TotalCharges'][0])# this is a string. Thats y we didnot get the stats of Total
#charges earlier
temp=df[df['TotalCharges']!=" "]# subset out all non blank rows
temp.reset_index(inplace=True,drop=True)
# now convert the total charges in them to float
temp['TotalCharges']=[float(temp['TotalCharges'][i]) for i in range(len(temp))]
#ignore the warning
np.mean(temp['TotalCharges']) # now we have the mean
blank_rows=df[df['TotalCharges']==" "].index.tolist()
df['TotalCharges'].iloc[blank_rows]=str(np.mean(temp['TotalCharges']))
df['TotalCharges']=[float(df['TotalCharges'][i]) for i in range(len(df))]

C:\Users\singh\Anaconda2\lib\site-packages\ipykernel\__main__.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [101]:
# the above code if run twice will not work. It will work only once

In [121]:
#fill the missing values in MonthlyCharges with their mean
df['MonthlyCharges'].fillna(value=df['MonthlyCharges'].mean(),inplace=True)

In [122]:
# hoe to delete rows and columns with msisng value
#lets read the csv again
df_test=pd.read_csv("C:/Users/singh/Desktop/Imarticus Projects/telecom_project.csv")

In [123]:
df_test.isnull().sum() # to see total missing value per column

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [124]:
df_test.dropna(axis=0,inplace=True)

In [125]:
df_test.shape

(7043, 21)

In [126]:
# create a new column called BILL 
#which is the sum of TotalCharges and MonthlyCharges
df['BILL']=df['TotalCharges']+df['MonthlyCharges']

In [127]:
df.shape

(7043, 22)

In [128]:
df.columns

Index([u'customerID', u'gender', u'SeniorCitizen', u'Partner', u'Dependents',
       u'tenure', u'PhoneService', u'MultipleLines', u'InternetService',
       u'OnlineSecurity', u'OnlineBackup', u'DeviceProtection', u'TechSupport',
       u'StreamingTV', u'StreamingMovies', u'Contract', u'PaperlessBilling',
       u'PaymentMethod', u'MonthlyCharges', u'TotalCharges', u'Churn',
       u'BILL'],
      dtype='object')

In [129]:
# create a data frame df1 with columns CustomerID and 
#TotalCharges & only first 4 rows
#customerID=['7590-VHVEG','5575-GNVDE']

In [130]:
df1=df.iloc[0:4,[0,19]]
df1
#Subset by Column
df2=df.loc[:,["customerID","Churn"]]
df2.head()

   customerID Churn
0  7590-VHVEG    No
1  5575-GNVDE    No
2  3668-QPYBK   Yes
3  7795-CFOCW    No
4  9237-HQITU   Yes

In [131]:
# create a df called df2 with columns CustomerID and Churn and row #'s 2 to 7

In [132]:
df2=df.iloc[2:7,[0,20]]
df2

   customerID Churn
2  3668-QPYBK   Yes
3  7795-CFOCW    No
4  9237-HQITU   Yes
5  9305-CDSKC   Yes
6  1452-KIOVK    No

In [133]:
print df1
print df2

   customerID  TotalCharges
0  7590-VHVEG         29.85
1  5575-GNVDE       1889.50
2  3668-QPYBK        108.15
3  7795-CFOCW       1840.75
   customerID Churn
2  3668-QPYBK   Yes
3  7795-CFOCW    No
4  9237-HQITU   Yes
5  9305-CDSKC   Yes
6  1452-KIOVK    No

In [134]:
# merge df1 and df2

In [135]:
# left merge/join
leftjoin=pd.merge(df1,df2,how="left",on=['customerID'])
leftjoin

   customerID  TotalCharges Churn
0  7590-VHVEG         29.85   NaN
1  5575-GNVDE       1889.50   NaN
2  3668-QPYBK        108.15   Yes
3  7795-CFOCW       1840.75    No

In [136]:
# inner merge/join

In [137]:
innerjoin=pd.merge(df1,df2,how="inner",on=['customerID'])
innerjoin

   customerID  TotalCharges Churn
0  3668-QPYBK        108.15   Yes
1  7795-CFOCW       1840.75    No

In [138]:
df2.reset_index(drop=True,inplace=True)# reset index in a dataframe

In [139]:
# concat 2 dataframes

In [140]:
df1

   customerID  TotalCharges
0  7590-VHVEG         29.85
1  5575-GNVDE       1889.50
2  3668-QPYBK        108.15
3  7795-CFOCW       1840.75

In [141]:
#create a new dataframe called df3 with row #'s 5 to 8 and columns
# CustomerID and TotalCharges
df3=df.iloc[5:8,[0,19]]
df3

   customerID  TotalCharges
5  9305-CDSKC         820.5
6  1452-KIOVK        1949.4
7  6713-OKOMC         301.9

In [142]:
total_df=pd.concat([df1,df3])

In [143]:
total_df

   customerID  TotalCharges
0  7590-VHVEG         29.85
1  5575-GNVDE       1889.50
2  3668-QPYBK        108.15
3  7795-CFOCW       1840.75
5  9305-CDSKC        820.50
6  1452-KIOVK       1949.40
7  6713-OKOMC        301.90

In [144]:
total_df.reset_index(inplace=True,drop=True)
total_df

   customerID  TotalCharges
0  7590-VHVEG         29.85
1  5575-GNVDE       1889.50
2  3668-QPYBK        108.15
3  7795-CFOCW       1840.75
4  9305-CDSKC        820.50
5  1452-KIOVK       1949.40
6  6713-OKOMC        301.90

In [145]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,BILL
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No,59.70
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,No,No,No,One year,No,Mailed check,56.95,1889.50,No,1946.45
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,162.00
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No,1883.05
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,222.35

In [146]:
# Who talks more 
# male or female 
# find the mean TotalCharges of all female & male
df.groupby(['gender'])['TotalCharges'].mean()

gender
Female    2283.191142
Male      2283.407680
Name: TotalCharges, dtype: float64

In [147]:
# who had a higher BILL , churned or no Churned
df.groupby(['Churn'])['BILL'].mean()

Churn
No     2616.030896
Yes    1606.237426
Name: BILL, dtype: float64

In [148]:
# find the max bill amount out of all Male and female
# who Churned and Didnot churn
df.groupby(['gender','Churn'])['BILL'].max()

gender  Churn
Female  No       8791.20
        Yes      8243.15
Male    No       8711.35
        Yes      8802.60
Name: BILL, dtype: float64

In [149]:
#get me all customerID's who are female and have churned
df[(df['gender']=="Female")&(df['Churn']=="Yes")]['customerID']

4       9237-HQITU
5       9305-CDSKC
8       7892-POOKP
18      4190-MFLUW
29      8773-HHUOZ
39      8168-UQWWF
47      7760-OYPDY
51      9420-LOJKX
53      7495-OOKFY
64      5698-BQJOH
80      5919-TMRGD
82      9191-MYQKX
95      8637-XJIVR
99      4598-XLKNJ
113     4846-WHAFZ
117     5299-RULOA
126     4412-YLTKF
131     6207-WIOLX
139     0390-DCFDQ
141     4080-OGPJL
161     0867-MKZVY
166     3376-BMGFE
171     1875-QIVME
173     0691-JVSYA
176     2656-FMOKZ
177     2070-FNEXE
180     6317-YPKDH
184     1918-ZBFQJ
185     1024-GUALD
208     7825-ECJRF
           ...
6861    6692-UDPJC
6862    1273-MTETI
6864    5480-HPRRX
6869    5906-CVLHP
6877    4501-EQDRN
6878    2990-HWIML
6886    7234-FECYN
6893    5876-HZVZM
6896    3085-QUOZK
6907    1041-RXHRA
6918    8267-ZNYVZ
6926    1450-SKCVI
6930    5570-PTWEH
6943    0032-PGELS
6952    6394-MFYNG
6953    1564-NTYXF
6961    8155-IBNHG
6962    0886-QGENL
6968    8685-WHQPW
6971    7240-FQLHE
6972    6664-FPDAC
6986    3976-BWUCK
6991    3585-ISXZP
6993    6583-QGCSI
6996    4174-LPGTI
7008    1980-KXVPM
7010    0723-DRCLG
7011    5482-NUPNA
7026    8775-CEBBJ
7034    0639-TSIQW
Name: customerID, dtype: object

In [150]:
import seaborn as sns